body{
  background-color: rgb(53, 53, 52);
}

.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}

.titulo{
  text-align: center;
  font: 1.5em sans-serif;
  color: rgb(192, 189, 189)
}

.contenedorCart{
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.cart{
  background-color: rgb(192, 189, 189);
  width: 20vw;
  border-radius: 5px;
  border: 2px solid black;
  transition: 1s;
}

.cart:hover{
  box-shadow: none;
  box-shadow: 2px 5px 5px rgb(0, 0, 0);
}

.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 1s;
}

.item:hover{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}